body
html
.main
	size(100%)

.main
	position relative
	overflow hidden
	background-color #000

.wrapper
	position relative
	z-index 2
	size(100%)
	transform translateY(0)
	transition transform .5s ease
	will-change transform

	&_state_hide
		transform translateY(-82.5%)

.hide
	display none

.show
	display block


.logo
	position absolute
	top 4.66%
	left 3.44%
	sprite($logo)
	no-select()

.items
	opacity 0
	transition opacity .3s ease .3s, transform .6s ease-in-out-back
	will-change opacity, transform

	&_left_100
		transform translate(-100%, 0)

	&_left_200
		transform translate(-200%, 0)

	&_right_100
		transform translate(100%, 0)

	&_right_200
		transform translate(200%, 0)

	&_bottom_200
		transform translate(0, 200%)

	&_bottom_50
		transform translate(0, 50%)

.organizer
	position absolute
	bottom -5px
	right 24.22%
	sprite($organizer)
	cursor pointer
	will-change opacity, transform

	&:hover

		&:before
			opacity .55

	&:before
		position absolute
		top 44px
		right 131px
		content attr(data-text)
		amazing-b()
		font-size 15px
		text-align right
		color #fff
		opacity .11
		transition opacity  .5s ease
		will-change opacity

	&_trans
		transition opacity .25s ease, transform .25s ease

	&_state_hide
		transform translateY(-40px) !important
		sprite($organizer_hide)


.copy
	position absolute
	bottom 8.88%
	right 4.77%
	text-align right
	cursor pointer

	&__icon
	&__text
		transition opacity .5s ease
		will-change opacity

	&__icon
		display inline-block
		sprite($icon-ppda)
		opacity .44

	&__text
		sprite($icon-text)
		opacity .22

	&:hover

		.copy__icon
			opacity .88

		.copy__text
			opacity .55

.date
	position absolute
	top 7.66%
	right 4.33%
	amazing-b()
	text-align center
	color #fff

	&__duration
		sprite($icon_day)

	&__days
		display inline-block
		margin-top 13px
		font-size 36px

	&__month
		display inline-block
		font-size 16px
		text-align center

.request
	position relative
	z-index 1
	size(100%)
	transition transform .5s ease
	will-change transform

	&_state_show
		transform translateY(-100%)

	&__bg
		position absolute
		size(100%)
		background url('../images/girl.png') -25% -10% no-repeat
