body
html
.main
	size(100%)

.main
	position relative
	overflow hidden
	background-color #000

.wrapper
	position relative
	z-index 2
	size(100%)
	transform translateY(0)
	transition transform .5s ease
	will-change transform

	&_state_hide
		transform translateY(-82.5%)

.hide
	display none

.show
	display block


.logo
	position absolute
	top 4.66%
	left 3.44%
	sprite($logo)
	no-select()

.items
	z-index 5
	opacity 0
	transition opacity .3s ease .3s, transform .6s ease-in-out-back
	will-change opacity, transform

	&_left_100
		transform translate(-100%, 0)

	&_left_200
		transform translate(-200%, 0)

	&_right_100
		transform translate(100%, 0)

	&_right_200
		transform translate(200%, 0)

	&_bottom_200
		transform translate(0, 200%)

	&_bottom_50
		transform translate(0, 50%)

.organizer
	position absolute
	bottom -5px
	right 24.22%
	sprite($organizer)
	cursor pointer
	will-change opacity, transform

	&:hover

		&:before
			opacity .55

	&:before
		position absolute
		top 44px
		right 131px
		content attr(data-text)
		amazing-b()
		font-size 15px
		text-align right
		color #fff
		opacity .11
		transition opacity  .5s ease
		will-change opacity

	&_trans
		transition opacity .25s ease, transform .25s ease

	&_state_hide
		transform translateY(-40px) !important
		sprite($organizer_hide)


.copy
	position absolute
	bottom 8.88%
	right 4.77%
	text-align right
	cursor pointer

	&__icon
	&__text
		transition opacity .5s ease
		will-change opacity

	&__icon
		display inline-block
		sprite($icon-ppda)
		opacity .44

	&__text
		sprite($icon-text)
		opacity .22

	&:hover

		.copy__icon
			opacity .88

		.copy__text
			opacity .55

.date
	position absolute
	top 7.66%
	right 4.33%
	amazing-b()
	text-align center
	color #fff

	&__duration
		sprite($icon_day)

	&__days
		display inline-block
		margin-top 13px
		font-size 36px

	&__month
		display inline-block
		font-size 16px
		text-align center

.request
	position relative
	z-index 1
	size(100%)
	transition transform .5s ease
	will-change transform

	&_state_show
		transform translateY(-100%)

	&__bg
		position absolute
		size(100%)
		background url('../images/girl.png') -25% -10% no-repeat

.petals
	position absolute
	top 0
	left 0
	size(100%)

.petal
	position: absolute;

	&:nth-child(1)
		top 12.33%
		left 19%
		sprite($petal1)

	&:nth-child(2)
		top 8.88%
		left 35.77%
		sprite($petal2)

	&:nth-child(3)
		top 19.55%
		left 10.33%
		sprite($petal3)

	&:nth-child(4)
		top 28.66%
		left 13%
		sprite($petal4)

	&:nth-child(5)
		top 36%
		left 1%
		sprite($petal5)

	&:nth-child(6)
		top 47.22%
		left 4.16%
		sprite($petal6)

	&:nth-child(7)
		top 73.11%
		left 9.05%
		sprite($petal7)

	&:nth-child(8)
		bottom 10.88%
		left 15.77%
		sprite($petal8)

	&:nth-child(9)
		top 61.22%
		left 36.88%
		sprite($petal9)

	&:nth-child(10)
		bottom 21.44%
		left 42.38%
		sprite($petal10)

	&:nth-child(11)
		bottom 10%
		left 39.11%
		sprite($petal11)

	&:nth-child(12)
		bottom 10.55%
		right 41.44%
		sprite($petal12)

	&:nth-child(13)
		top 13.11%
		right 35.22%
		sprite($petal13)

	&:nth-child(14)
		top 14.44%
		right 29.77%
		sprite($petal14)

	&:nth-child(15)
		top 33%
		right 25.83%
		sprite($petal15)

	&:nth-child(16)
		top 10.88%
		right 20.05%
		sprite($petal16)

	&:nth-child(17)
		top 29.11%
		right 16.33%
		sprite($petal17)

	&:nth-child(18)
		top 13.11%
		right 2.33%
		sprite($petal18)

	&:nth-child(19)
		top 37.22%
		right 21.33%
		sprite($petal19)

	&:nth-child(20)
		top 39.22%
		right 7.88%
		sprite($petal20)

	&:nth-child(21)
		bottom 38%
		right 13.61%
		sprite($petal21)

	&:nth-child(22)
		bottom 19.66%
		right 22.05%
		sprite($petal22)

	&:nth-child(23)
		bottom 14.22%
		right 26.55%
		sprite($petal23)

	&:nth-child(24)
		bottom 14.22%
		right 26.55%
		sprite($petal23)


