body
html
.main
	size(100%)

.main
	position relative
	overflow hidden
	background-color #000

.wrapper
	position relative
	size(100%)


.logo
	position absolute
	top 4.66%
	left 3.44%
	sprite($logo)
	no-select()

.items
	opacity 0
	transition opacity .3s ease .3s, transform .6s ease-in-out-back
	will-change opacity, transform

	&_left
		transform translate(-150%, 0)

	&_bottom
		transform translate(0, 200%)

.organizer
	position absolute
	bottom -15px
	right 24.22%
	sprite($organizer)
	cursor pointer

	&:hover

		&:before
			opacity .55

	&:before
		position absolute
		top 37px
		right 131px
		content attr(data-text)
		amazing-b()
		font-size 15px
		text-align right
		color #fff
		opacity .11
		transition opacity  .5s ease
		will-change opacity
