@font-face
	font-family 'HelveticaNeueCyr-Light'
	src url('../../fonts/helveticaneuecyr-light.eot')
	src: url('../../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/helveticaneuecyr-light.woff') format('woff'),
		url('../../fonts/helveticaneuecyr-light.ttf') format('truetype'),
		url('../../fonts/helveticaneuecyr-light.ttf#helveticaneuecyrlight') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'Amazing Grotesk Book'
	src url('../../fonts/AmazingGroteskBook.eot')
	src: url('../../fonts/AmazingGroteskBook.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/AmazingGroteskBook.woff') format('woff'),
		url('../../fonts/AmazingGroteskBook.ttf') format('truetype'),
		url('../../fonts/AmazingGroteskBook.ttf#AmazingGrotesk') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'PfDinTextCompPro-Regular'
	src url('../../fonts/PFDinTextCompPro-Regular.eot')
	src: url('../../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
		url('../../fonts/PFDinTextCompPro-Regular.ttf') format('truetype'),
		url('../../fonts/PFDinTextCompPro-Regular.ttf#PFDinTextCompPro-Regular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'PfDinTextCompPro-XThin'
	src url('../../fonts/PFDinTextCompPro-XThin.eot')
	src: url('../../fonts/PFDinTextCompPro-XThin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/PFDinTextCompPro-XThin.woff') format('woff'),
		url('../../fonts/PFDinTextCompPro-XThin.ttf') format('truetype'),
		url('../../fonts/PFDinTextCompPro-XThin.ttf#PFDinTextCompPro-XThin') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'BebasNeue-Thin'
	src url('../../fonts/PFDinTextCompPro-XThin.eot')
	src: url('../../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/BebasNeue-Thin.woff') format('woff'),
		url('../../fonts/BebasNeue-Thin.ttf') format('truetype'),
		url('../../fonts/BebasNeue-Thin.ttf#BebasNeue-Thin') format('svg')
	font-weight normal
	font-style normal

bebas-neue-th()
	font-family 'BebasNeue-Thin', sans-serif

hel-neue-l()
	font-family 'HelveticaNeueCyr-Light', sans-serif

amazing-b()
	font-family 'Amazing Grotesk Book', sans-serif

pfdin-r()
	font-family 'PfDinTextCompPro-Regular', sans-serif

pfdin-xth()
	font-family 'PfDinTextCompPro-XThin', sans-serif
