form.form(action=jv0 name="request")

	.form__step(style="display:none")

		.form__step-title
			| Привет, я Анастасия Перец

		.form__step-text
			| Если вы на этом сайте, значит вы входите в круг
			br
			span.form__step-text_block реальных творцов событий
			= " "
			| , давайте
			br
			| познакомимся, как вас зовут?

		.form__step-input.form__step-input_type_name
			input#inputName.input(type="text" placeholder="Имя" name="name")
			span

		.form__step-btn
			button.button-small(type="button" onclick="" disabled) Готово

	.form__step(style="display:none")

		.form__step-title
			span.js-input-name Константин
			| , очень приятно
			br
			| познакомиться!

		.form__step-text
			| Для того, чтобы мы смогли отравить
			br
			| вам презентацию проекта, напишите ваш
			br
			| действующий e-mail а поле ниже

		.form__step-input.form__step-input_type_mail
			input#inputMail.input(type="text" placeholder="Ваш e-mail" name="mail")
			span

		.form__step-btn
			button.button-small(type="button" onclick="" disabled) Готово

	.form__step(style="display:none")

		.form__step-title
			| Спасибо, и напоследок

		.form__step-text
			span.js-input-name Константин
			| , оставьте пожалуйста свой
			br
			| номер телефона и я перезвонувам, чтобы
			br
			| рассказать подробности лично и ответить
			br
			| на ваши вопросы

		.form__step-input.form__step-input_type_phone
			input#inputPhone.input(type="text" placeholder="Телефон" name="phone")
			span

		.form__step-btn
			button.button-small(type="submit" onclick="") Готово

		.form__step-note.note
			| Ваши персональные данные
			br
			| в безопасности, и мы не будем
			br
			| вам названивать по ночам :)

	.form__step.form__step_end

		.form__step-title
			| Готово!

		.form__step-text
			| Ожидайте моего звонка сегодня,
			br
			| а пока добавляйтесь в группы проекта
			br
			| в социальных сетях и общайтесь
			br
			| с другими участникими!

		.form__step-social
			a.social.icon-fb(href="https://facebook.com/" target="_blank")
			a.social.icon-inst(href="https://instagram.com/" target="_blank")
			a.social.icon-vk(href="https://vk.com/" target="_blank")
			.form__step-social-note.note
				| Будьте в курсе
				br
				| последних новостей
				br
				| принимй участие
				br
				| в формировании
				br
				| программы поездки

		.form__step-follow

			.form__step-follow-title К нам уже присоединились

			.form__step-follower
				img(src="assets/images/content/img1.jpg")

			.form__step-follower
				img(src="assets/images/content/img2.jpg")

			.form__step-follower
				img(src="assets/images/content/img3.jpg")

			.form__step-follower
				img(src="assets/images/content/img4.jpg")

			.form__step-follower
				img(src="assets/images/content/img5.jpg")

			.form__step-follower
				img(src="assets/images/content/img1.jpg")

			.form__step-follower
				img(src="assets/images/content/img2.jpg")

			.form__step-follower
				img(src="assets/images/content/img3.jpg")

			.form__step-follower
				img(src="assets/images/content/img4.jpg")

			br

			.form__step-follower
				img(src="assets/images/content/img3.jpg")

			.form__step-follower
				img(src="assets/images/content/img2.jpg")

			.form__step-follower
				img(src="assets/images/content/img1.jpg")

			.form__step-follower
				img(src="assets/images/content/img5.jpg")

			.form__step-follower
				img(src="assets/images/content/img4.jpg")

			.form__step-follower
				img(src="assets/images/content/img3.jpg")

			.form__step-follower
				img(src="assets/images/content/img2.jpg")

			.form__step-follower
				img(src="assets/images/content/img1.jpg")

			.form__step-follower
				img(src="assets/images/content/img5.jpg")
