header.header(role="banner")
	.header__item.js-header-item
		| Стажировка в США для
		br
		| профессионалов event-индустрии

	.header__item.js-header-item
	.header__item.js-header-item

	.header__item.js-header-item
		| от ведущих специалистов США
